.form2 {
  display: flex;

}
.tittle {
  margin: 25px;
 
}
body {
  background-image: url("https://images.pexels.com/photos/6244944/pexels-photo-6244944.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

.tittle h2 {
  font-family: 'Playfair Display', serif;
}